@charset "UTF-8";
.branchInfo {
    display: inline;
}

.ss,
.mipa,
.death {
    display: inline;
}

.oneLine {
    float: left;
}

.zoe2 {
    padding: 10px 0;
    font-size: 20px;
}

.bInfo{
    display: inline;
}

.gra {
    display: inline;
}

.number {
    font-size: 14px;
}

.processMap {
    min-height: 700px;
}

#addrZip,
#zipUl {
    /* min-height: 84px; */
    /* 忠毅 */
    min-height: 130px;
}

/*增加錯誤訊息的樣式(底色為白色時)*/
.error-msg{
    color: red;
    font-size: 14px;
}

/*增加錯誤訊息的樣式(底色為藍色時)*/
.error-message{
    color: red;
    font-size: 16px;
}

/*增加錯誤訊息的樣式(貸款試算時)*/
.err-message{
    color: red;
    font-size: 16px;
    clear: both;
    text-align: right;
    margin-right: 5%;
}

@media (max-width: 769px) {
    .err-message{
        color: red;
        font-size: 16px;
        clear: both;
        text-align: initial;
        margin-right: 0%;
    }
}

.branchInfoBr p{
    margin: 0 0;
}

/*@media (max-width: 769px) {
    .computeList li{
        height: 18px;
    } 
}*/

/*自已先加上儲存的i字樣*/
/*.nextBtn a.info{
    background: #0db3ab;
    float: left;
    width: 4%;
}
.nextBtn a.info:before{
display: block;
    content: '';
    position: relative;
    margin-bottom: 5px;
    background-image: url(../img/fu-04.png);
    background-size: 100%;
    width: 24px;
    height: 30px;
    left: -5px;
}*/

/*因為上傳檔案要在底下多加透明度100的file，所以要設relative*/
.processInner table.mqua .file-upload {
    position: relative;
}

/** Register **/
.toggleBtn {
    text-align: center;
}

.toggleBtn a {
    margin: 20px auto;
    color: white;
    font-size: 25px;
}

.toggleBtn a.green {
    background: #0db3ab;
    float: left;
    width: 20%;
}

.deny {
    position: relative;
    padding-left: 40px;
}

.deny:before {
    display: inline-block;
    content: '';
    width: 22px;
    height: 22px;
    top: 5px;
    position: absolute;
    left: 8px;
    background-size: 100%;
    background-image: url(../img/na-16.png);
    background-position: top;
}

.bootstrap-select.btn-group .dropdown-toggle .caret.bootstrap_select_arrow_up {
    border-top: 0;
    border-bottom: 4px solid;
}

/** ForgetPwd **/
.ubt p.beforeImg {
    display: inline-table;
}

.modal.forgetPwd .modal-body {
    text-align: center;
}

.modal.forgetPwd .modal-body a{
    font-size: 20px;
    color: #fff;
    display: inline-block;
    max-width: 320px;
    text-align: center;
    padding: 10px;
    width: 20%;
}

.noticeTitle {
    font-size: 20px;
    font-weight: bold;
}

.notice {
    font-size: 17px;
}

@media (max-width: 769px){
    .modal.forgetPwd .modal-body a {
        font-size: 16px;
        max-width: 90px;
        padding: 10px;
    }

    .noticeTitle, .notice {
        font-size: 14px;
    }
}

/*2016-05-12 added by titan*/
.seOutArea .seAreaUL li {
    padding: 13px;
}

.Download .downloadtab {
    font-size: 18px;
}

.dowContent ul h2{
    font-size : 18px;
}

.QAListTab > ul > li > a {
    font-size : 16px;
}

.QAList ul > li a p {
    font-size:16px;
}

/**
.Anser {
	max-height:300px;
	overflow-y:scroll;
}
**/

.dowContent ul li {
    overflow:hidden;
}

/**
.sidebarArea {
    display:block  !important;
}

.sub .sidebarArea .sidebar {
    display:none  !important;
}
**/

.apply .QandAtab{
    top:189px;
}

.files{
    font-size:18px;
}

.news p{
    font-size: 12px;
}

.fixtop{
    width: 100%;
    top: 0px;
    position: fixed;
}

/****/
.seOutArea .seArea h4:before{
    content: "";
    height: 30%;
    display: inline-block;

}


.seOutArea .seArea h4{
    font-size: 18px
}



.mapSelectArea.active .placeholder:after{
    content: '\f0dd';
}

.navContent ul li {
    margin: 100px 0;
}

.dowContent{
    min-height:330px;
}

.subApplication{
    min-height:500px;
	    max-height: 540px;
}

.mobileMenu_left_area > ul > li ul{
    display:block;
}

.personalin{
    padding: 20px 55px 20px 40px;
}

.scroll a:visited, .scroll a:active {
    text-decoration: none;
}

.scroll a:visited, .scroll a:active {
    text-decoration: none;
}

/*
a.scrollToTop{
    text-align: center;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px #555;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 65px;
    display: none;
    z-index: 999999;
    opacity: 0.5;
    font-size: 40px;
    border-radius: 25px;
}
*/

a.scrollToTop i {
    line-height: 50px;
    vertical-align: middle;
}

@media (max-width:769px) {
    .QandAtab{
        opacity : 0.7
    }

    .QandAtab a:after{
        display:none;
    }

    .navContent {
        display:none;
    }

    .navContent.active {
        display:none;
    }

    .SerBox .umopen.active{
        display:none;
    }

    /*body.sub .mapArea{
        display:none;
    }*/
	
	#branchMap{
	 display:none;
	}

    .seOutArea .seAreaUL li {
        padding: 7px;
    }

    a.scrollToTop{
        bottom: 12px;
        right: 12px;
    }

    .QandAContent {
        max-height:500px;
        overflow-y:scroll;
    }

    .intrBox #dot1,.intrBox #dot2{
        color:white;
    }
}

.processInner table.mqua .file-modify{
    position: relative;
}

.processInner table.mqua .file-upload{
    position: relative;
}

h3.google_dialog_title{
    font-size:10px
}
.google_dialog_addr,.google_dialog_tel{
    font-size:10px;
	margin-bottom: 0px;
}

#registerMobile{
    background: #0e89cb;
    color: #ffffff;
}

#loginMobile{
    background: #8e8e8d;
}

.intr{
    display: inline;
}

#dot1, #dot2{
    margin-left: -12px;
    color: #0e89cb;
}
@media (max-width:769px) {
    #dot1, #dot2{
        display : none;
    }

}
.intrP{
    padding-top: 20px;
}

.mobileMenu_left_area > ul > li:nth-child(5):before{
    width:24px;
}

.mobileMenu_left_area > ul > li:nth-child(6):before{
    height: 20px;
}
/*
.news .title{
    position: relative;
    padding-left: 0px;
    font-size: 13px;
    margin: 9px 0 0px 8px;
}
*/

#deferralTip{
    margin-left: 15px;
}

ul.umopen_s > div.umopen ul > li:first-child > a.files{
    border-top:solid 1px rgba(255,255,255,0.4)
}

ul.SerBox .umArea .himg img{
    width:70%;
}

.schoolSelector{
    display: inline-block;
    padding: 0px 5px 11px 9px;
    font-size: 18px;
    font-weight: bold;
}

.gr{
    display: inline-block;
    padding-left: 20px;
}

.gra{
    padding-left: 32px;
}


.navContent.fix {
    margin-top: 60px;
}

.QandAtab.fix{
    top: 65px;
}

.sidebar.fix{
    padding-top: 170px;
}

.sub .QandAtab{
    top:140px;
}

.dowitemContent .imgBox{
    max-height:100%;
    overflow-y:hidden;
}

.branchBlue{
    margin: 0;
    font-size: 12px;
    padding-left: 25px;
    width: 135%;
    color: #0E89CB;
}

.pho img{
	width: 75px;
}

.noteLi li{
	font-size: 14px;
}

.saArea:before{
/*	bottom: -128px;
    left: 125px;
	    width: 500px;
    height: 451px;*/
    /* pic_01 */
    bottom: -112px;
    left: 30px;
    width: 550px;
    height: 465px;
}

.saArea h3 {
margin: 15px 0 10px;
}

.saArea {
margin-right: 1 0px;
    margin-bottom: 45px;
}

/* add by aaron */
.sub .contentArea {
padding-top: 127px ;
}

@media (max-width:769px) {
  .sub .contentArea {
  padding-top: 46px ;
  }
  .border_title {
    padding : 30px 20px 20px 20px;
  }
  .magicScrollbar_total {
    margin : 0;
  }
  #mainForm {
    margin-bottom:0px;
  }
  .sidebar ul {
    margin-top:0px;
  }
  
  .sidebar ul li a br {
    display:none;
  }

  /*2016-05-24 added by titan*/
  
  .news h3 {
	font-size:17px;
  }
  .news h5.title{
	margin-left:20px;
	padding-left:0px;
  }
}

#top{
	padding-left: 9px;
}

@media (max-width:769px) {
	#topLi{
		display:none;
	}
}

.brTi {
    background-color: white;
    padding-left: 15px;
    font-weight: bold;
        font-size: 16px;
}

.regionArea .region {
    padding: 30px 15px;
    background: #0E89CB;
    margin-top: -20px;
}

.inlineBr{
	display: inline;
}

@media (max-width: 320px){
 .QandAContent {
     max-height: 422px;
     top: 146px;
     padding-bottom: 44px;
 }

 .QAListArea {
    max-height: 378px;
    //overflow-y: scroll;
 }
}
@media (max-width: 769px){
#mapArea {
	 display: none;
  }}

   @media (max-width: 769px){
.subApplication {
    min-height: 430px;
}}

@media (max-width: 769px){
.changeHeight1 {
    min-height: 710px;
}}
@media (max-width: 769px){
.changeHeight2 {
    min-height: 815px;
}}
@media (max-width: 769px){
.changeHeight3 {
    min-height: 920px;
}}

@media (max-width: 769px){
 .QandAContent {
     overflow-y: scroll;
     height: 684px;
     top: 52px;
     max-height: none;
     background-color: rgb(247, 250, 251);
 }
}
 
@media (max-width: 769px){ 
.minMap{
	margin: 0px 20px 0px 20px;
}} 
  
}

/**/
.processTab {
	padding: 0 20px;
}

.processTab > div.processBox {
	max-width: 1200px;
    margin: 0 auto;
}



@media (max-width: 769px){
 .path {
     margin-top:50px;
 }
 
 .contentArea{
	padding-top:60px;
 }
 
 [class^='apply_'] .processTab ul li.active{
	width:44%
 }
 
 [class^='apply_'] .processTab ul li{
	width:12%
 }
 
 .processTab ul li a{
	padding : 0px 0px 0px 32%
 }
 
 .path ul li a {
	font-size : 12px;
 }
 
 .path ul li:nth-child(2) a{
	padding:7px;
 }
 
 .tab_arrow {
	display:none;
 }
 
 .processOutBox{
	margin : 15px auto;
 }
 
 [class^='apply_1_'] .nextBtn {
	padding-left : 0px;
 }
 
 .processTab ul li.active a:before{
	left:12%;
 }
 
 body.deferment .processTab ul {
	height:50px;
    width: 100%;
 }

}

.refrashBranch{
    margin-left: -275px;
    width: 100%;
}

#mapInputS{      
    width:107%;
        padding-left: 23px;
}
#triangleInput{
        margin-right: 260px;
    margin-top: 10px;
}

@media (max-width: 769px){
#mapInputS{      
    width:95%;
}
#triangleInput{
        margin-right: 300px;
    margin-top: 10px;
}
}

@media (max-width:769px) {
    .sidebar{
        display : none;
    }

}

#gBtn{
        background-color: #aaaaa9;
    margin-right: 25px;
        color: white;
}

#label_DomicileNeighborhood{
    display: inline;
}

#label_DomicileAddress{
    display: inline;
}

.incomeTaxString{
    font-weight: bold;
}

#fatherCkeckbox, #motherCkeckbox{
    font-weight: bold;
}

.fathermather{
    margin-left: 20px;
}


/**  0530  **/
@media (max-width: 769px){

.lightWon .busus li:nth-child(2) {
    border-right: solid 1px #DFDFDF;
	width:30%;
}	
.lightWon .busus li:nth-child(3) {
    border-right: solid 1px #DFDFDF;
	width:30%;
}
.lightWon .busus li:nth-child(4) {
    border-right: solid 0px #DFDFDF;
	width:30%;
}
.resa li:nth-child(1) {
    /* border-right: solid 1px #DFDFDF */;
	width:30%;
}	

}

.myloan_Box{
	padding-top: 60px;
	
}
.myloan_Inner{
	padding: 40px;
	
}

#sumTitle{
	visibility: visible;
}


/**  0530  **/
/* add by JiaRu 160531 for 還款查詢功能 */
.repaymentInquiry_ .contentArea {
    padding-top: 180px;
    padding-bottom: 130px;
}

.repaymentInquiry_ .nextBtn.innerBtn {
    display: none;
}

.repaymentInquiry_ .nextBtn.inner a.lan {
    width: 25%;
}

.repaymentInquiry_ .nextBtn.outer a.lan {
    width: 20%;
}

.repaymentInquiry_ .searchResult .repayTable {
    border: solid 1px #676868;
}

.repaymentInquiry_ .searchResult .repayTable .rema th {
    background: #ededed;
    padding: 15px 0px;
    color: #2b2c2c;
    font-weight: 100;
    font-size: 17px;
    text-align: center;
}
.repaymentInquiry_ .searchResult .repayTable .rema td {
    color: #0872bb;
    /*font-size: 20px;*/
    font-size: 16px;
    padding: 25px 5px;
    position: relative;
    border-top: solid 1px #AAA;
    text-align: center;
}

.repaymentInquiry_ .searchResult .repayTable .rema tr:nth-child(odd) td {
    background: #F0F9FF;
}

.repaymentInquiry_ .searchResult .repayTable .lgVersion .rema td:not(:last-child), .repaymentInquiry_ .repayTable .rema th:not(:last-child) {
    border-right: solid 1px #AAA;
}

.repaymentInquiry_ .searchResult .smVersion {
    display: none;
}

@media screen and (max-width: 769px) {

    .repaymentInquiry_ .contentArea {
        padding-top: 80px;
        padding-bottom: 0px;
    }

    .repaymentInquiry_ .processInner {
        padding: 10px 0px;
    }

    .repaymentInquiry_ .snopy.detail {
        /*padding-left: 55px;*/
        padding-left: 46px;
        padding-right: 0px;
    }

    .repaymentInquiry_ .snopy..detail:before {
        left: 10px;
    }

    .repaymentInquiry_ .snopy.detail span {
        font-size: 12px;
    }

    .repaymentInquiry_ .joy.nina {
        /*padding-left: 10px;*/
        padding-left: 20px;
    }


    .repaymentInquiry_ .nextBtn.innerBtn {
        display: block;
    }

    .repaymentInquiry_ .nextBtn.outerBtn {
        display: none;
    }

    .repaymentInquiry_ .nextBtn.innerBtn a.lan {
        float: none;
        font-size: 16px;
    }

    .repaymentInquiry_ .searchResult .processInner {
        /*padding: 10px;*/
        padding: inherit;
    }

    .repaymentInquiry_ .searchResult .repayTable {
        border: none;
    }

    .repaymentInquiry_ .searchResult .repayTable .lgVersion .rema {
        display: none;
    }

    .repaymentInquiry_ .searchResult .smVersion {
        display: block;
    }

    .repaymentInquiry_ .searchResult .smVersion .rema {
        border: none;
        border-top: solid 1px#ccced2;
    }

    .repaymentInquiry_ .searchResult .lightWon {
        background: #F0F9FF;
        /*border: solid 1px #ccced2;*/
        border: none;
    }

    .repaymentInquiry_ .searchResult .lightWon.detailOpen {
        background: white;
    }

    .repaymentInquiry_ .searchResult .lightWon .busus li, .repaymentInquiry_ .lightWon .busus li:first-child {
        width: 50%;
        border: none;
        padding-left: 10px;
    }

    .repaymentInquiry_ .searchResult .lightWon .busus li:nth-child(even) {
        padding-left: 15px;
    }

    .repaymentInquiry_ .searchResult .lightWon .detailBtn {
        text-align: right;
    }

    .repaymentInquiry_ .searchResult .lightWon .detailBtn .picabtn {
        width: 40%;
        margin: 5%;
        top: -11px;
    }

    .repaymentInquiry_ .searchResult .lightWon.detailOpen .detailBtn .picabtn {
        background: grey;
    }

    .repaymentInquiry_ .searchResult .repayTable .smVersion .rema td, .repaymentInquiry_ .searchResult .repayTable .smVersion .rema th {
        border: none;
    }
}
/* end：add by JiaRu 160531 for 還款查詢功能*/


/*  0531  陳拓  */
.myloan_Box {
    padding-top: 50px;
}

.myloan .contentArea {
    padding-bottom: 150px;
}

body.myloan .processArea {
    padding: 0 17%;
}

@media (max-width:769px) {
    .path {
        margin-top: 45px;
    }
    
    .myloan_Box {
        padding-top: 0;
    }
    
    span.morebig {
        display: inline;
    }
    
    .myloan_Inner {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .myloan_Box {
        padding-top: 0;
    }
    
    .processOutBox {
        margin-top: 0;
    }
    
    .lightWon .busus li {
        text-align: center;
    }
    
    .lightWon .busus li:nth-child(3) {
        padding-left: 7%;
    }
    
    .lightWon .busus li:nth-child(4) {
        padding-left: 5%;
    }
    
    .lightWon .picabtn {
        margin-right: 2%;
    }
}

.navContent.fix {
    margin-top: 49px;
}

.regionIcon{
    display: none;
}


/* 0601 by 陳拓 */

h4.brTi {
    padding-top: 15px;
}


.regionArea ul.regionPlace {
    border-top: none;
}

#carryObjTip {
    font-weight: bold;
}

#registerQR, #loginQR{
            margin: 15% 7% 0 9%;
}

#hi2 p{
    padding-bottom: 7px;
}

@media (max-width:769px) {
    .processOutBox {
        margin: 15px auto;
    }
} 

/*memberLoginMobile.jsp 0602 by Foi */
#mobileContent{
    padding-top: 55px;
        width: 289px;
}

#body .bannerRight .mobile{
    display: block;
}

/* 陳拓0602 */

/* deferment */

body.sub .contentArea {
    padding-top: 50px;
    padding-bottom: 0;
}

body.apply_1_step1.processTab {
  padding: 0;
}

@media (max-width:769px) {
body.deferment .contentArea {
    padding-top: 80px;
}
body.deferment .processOutBox {
    margin-top: 5px;
}

body#body.deferment_1 .processInner {
    padding-left: 25px;
}

body.deferment .wrapper .input_m {
    max-width: 100%;
}

body.deferment .processTab ul li:last-child a:after {
    content: "";
    background: url(../img/smile.png);
    width: 33px;
    height: 76px;
    display: block;
    position: absolute;
    top: -13px;
    right: -70%;
    }

    body.deferment .processOutBox {
    margin-top: 15px;
    width: inherit;
  }
    
    body.sub .contentArea {
        padding-top: 41px;
    }
}


body.deferment .processTab > div.processBox {
    width: 100%;
    text-align: center;
    max-width: inherit;
    padding-left: 5px;
    padding-right: 5px;
}

/** Foi 0603 **/
.labelInline{
    display: inline;
}

/* 陳拓0603 */

#registerQR, #loginQR {
    margin: 0 auto;
}
/* 0604 by 韋杰 .repaymentInquiry */
@media (max-width:769px) {
    .repaymentInquiry_ .searchResult .repayTable .smVersion .rema th {
        width: 30%;
    }   
    .repaymentInquiry_ .searchResult .repayTable .rema tr td {
        text-align: left;
        padding-left: 20px;
    }
    .repaymentInquiry_ .searchResult .smVersion .rema {
    border: none;
    }
}

/* 0606 by Foi */
.wrapper .stageLength {
  max-width: 222px;
  margin-bottom: 5px; }
  @media (max-width: 769px) {
    .wrapper .stageLength {
      max-width: 72.333%; } }

.wrapper .nameLength {
  max-width: 240px;
  margin-bottom: 5px; }
  @media (max-width: 769px) {
    .wrapper .nameLength {
      max-width: 75.333%; } }


/* 0606 by 陳拓 */

@media (max-width:769px) {
    body.apply_2 #mainForm {
        padding-left: 0;
        padding-right: 0;
        background: #f8fafc;
        border-radius: 10px;
    }
}

/*0607 by titan start*/
.nextBtn a.cancel{
	background:#aaaaa9;
	float:right;
	width:20%;
	position:relative;
}

.nextBtn a.submit{
	background:#0872bb;
	float:right;
	width:20%;
	margin-left:6px;
	position:relative;
}

a{
	cursor:pointer;
}

/*0607 by titan end*/


/* 陳拓0608 */
@media (max-width:769px) {
    [class^='apply_'] .processTab ul li.active {
        width: 35%;
    }
}

.processTab > div.processBox {
    max-width: initial;
}


.processTab ul {
    width: 73%;
}

.processOutBox {
    max-width: initial;
}

#mainForm {
    width: 73%;
    margin: 0 auto;
}

body#body .nextBtn {
    width: 73%;
    padding: 0;
}

body.deferment_0 .processArea {
    padding: 0;
}

body.deferment .processTab ul li a p {
    line-height: 50px;
}

body.deferment .processTab ul li a {
    padding-left: 13%;
}

body.index #mainForm,
body.sub #mainForm {
    width: 100%;
}



body#body .personalinfoAath {
    padding: 0 20px;
}

.path ul {
    max-width: initial;
    width: 73%;
    margin: 0 auto;
    padding: 0 20px;
}

.personalinfo_0 .processOutBox {
    margin: 0;
}

div.notice {
    width: 73%;
    margin: 0 auto;
}

.processTab ul,
.nextBtn {
    max-width: initial;
}

body.deferment_0 .container {
    max-width: initial;
    width: 73%;
    padding: 0 20px;
}

body.myloan .processArea {
    padding: 0;
}

body.myloan .processOutBox {
    width: 73%;
}

.navArea {
    padding: 0 20px;
}

.navArea ul {
    width: 73%;
    max-width: initial;
}

/*0611 by aaron*/

.forgetPassword_1 .processOutBox {
  max-width : inherit;
}
.forgetPassword_1 .processTab ul {
  max-width : inherit;  
}
.forgetPassword_1 .nextBtn {
  max-width : inherit;  
}

.forgetPassword_3_step1 .stepArea ul,
.forgetPassword_3_step2 .stepArea ul {
  left:inherit;
}



@media (max-width:769px) {
    .processTab ul {
        width: 100%;
    }
    
    body#body .nextBtn {
        width:100%;
    }
    
    .processTab ul li a:before {
        width: 20px;
        height: 20px;
    }
    
    body#body .processTab ul li.active {
        width: 45%;
    }
    
    .processTab ul li {
        height: initial;
    }
    
    body#body .processTab ul li:last-child a:after {
        top: -12px;
        right: -72%;
    }
    
    body.deferment_0 #mainForm {
        width: 100%;
    }
    
    body.deferment #mainForm {
        width: 100%;
    }
     
	/*0611 by aaron*/
    body.forgetPassword #mainForm  {
		width: 100%;
    }
	
    body#body .processTab ul li p {
        height: 36px;
        min-height: initial;
        line-height: 36px;
    }
    
    body#body .processTab ul li a:before {
        top: 15px;
    }
    
    body.personalinfo_0 #mainForm,
    div.notice {
        width: 100%;
    }
    
/*
    body#body .processArea {
        padding: 0 5%;
    }
*/
    /*0611 by aaron */
    body.forgetPassword .processTab  {
		padding: 0 5%;
    }	
	
    .path ul {
        width: 100%;
    }
    
    body.deferment_0 .container {
        width: 100%;
        padding: 0;
    }
    
    body.myloan .processOutBox {
        width: 100%;
    } 
}

/**  6/11 Foi **/
.twoDiv {
	display: inline-block;
	width: 180px;
}

.twoDiv .left{
   width: 60px;
}


/* 陳拓0613 */

body.myloan .processArea {
    padding: 0 20px;
}

body.myloan .processOutBox {
    width: 73%;
    margin: 0 auto;
}

body.myloan .myloan_Box {
    padding-top: 30px;
}

@media (max-width:769px) {
    body.myloan .processOutBox {
        width: 100%;
    }
    
    body#body.myloan .processArea {
        padding: 0;
    }
    
    body.myloan .contentArea {
        padding-top: 76px;
    }
    
    body.myloan .myloan_Inner {
        padding-top: 0;
    }
    
    body.myloan .detail:before {
        bottom: -1px;
        left: -5px;
        top: initial;
    }
    
    .morebig {
        font-size: 25px;
    }
    
    body.myloan .lightWon .busus li {
        min-height: 40px;
        vertical-align: top;
        padding-right: 0;
        
    }
    
    body.myloan .lightWon .busus li {
        padding-left: 2%;
    }
    
    .lightWon .busus li h3 {
        font-size: 14px;
    }
    
    .lightWon .picabtn {
        margin-right: 5%;
    }
    
    a[class^="pobtn-"] {
        max-width: 110px;
        font-size: 14px;
    }
    
    .casomTitle {
        margin-left: 10px;
    }
    
    .casom {
        margin-left: 25px;
    }
    
    body.myloan#body .processInner {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    #mainForm {
        width: 100%;
    }
}


body.apply_map .bInfo {
    display: block;
}

@media (max-width:769px) {
    body.personalInfo_2_step2 .processOutBox {
        margin: 30px auto;
    }
    
    .repaymentInquiry_ .searchResult .processInner {
        padding: 10px 0;
    }
    
    .repaymentInquiry_ .nextBtn.innerBtn a.lan,
    .repaymentInquiry_ .snopy,
    .lightWon .picabtn {
        font-size: 14px;
    }
    
    .repaymentInquiry_ .processOutBox {
        margin-bottom: 0;
        margin-top: 5px;
    }
    
    .repaymentInquiry_ .processOutBox:last-child {
        margin-top: 0;
    }
    
    .repaymentInquiry_ .searchResult .lightWon .detailBtn .picabtn {
        width: 35%;
    }
    
    body.myloan .lightWon .busus li {
        padding-left: 0;
    }
    
    body.myloan .casomTitle {
        margin-left: 0;
    }
    
    body.myloan .casom {
        margin-left: 15px;
    }
}

body.apply_3_step1 .gr {
    padding-left: 21px;
}

body.apply_3_step1 #mm {
    padding-left: 26px;
}


body.apply_00 #gBtn {
    margin-right: 0;
}

body#body.repaymentInquiry_ .nextBtn {
    width: 100%;
}

.repaymentInquiry_ .searchResult .repayTable {
    width: 96%;
    margin: 0 auto;
}

a.underline {
text-decoration: underline;
}

.zoe2 {
    font-size: 16px;
    padding-left: 30px; 
}

.schoolSelector {
    font-size: 16px;
    font-weight: 100;
}

/*2016-06-18 added by titan*/
.hyperlink {
	color: #0E89CB;
}

@media screen and (min-width: 769px) {
	.apply_00 div.tonypan .pobtn-srb {
		    margin-left: 20px
	}
	
	#body .stepArea ul, body.apply_3_step1 .stepArea ul {
		left: -20%;
	}
	
	#body .stepArea ul {
		position: relative;
	}
}

.modal-dialog .modal-content .btn-default{
	margin-left: 10px;
}

/*修正小版的子步驟，目前只有兩階，故針對subStep1跟subStep2的class搭配active併用控制*/
@media (max-width: 769px){
	.stepArea ul li.active.subStep1:before{
		left: -2px;
	}

	.stepArea ul li.active.subStep1:after{
		right: -0px;
	}
	
	.stepArea ul li.subStep2:after{
		right: -75px !important;
	}
	
	.stepArea ul li.active.subStep1{
		right: -30px;
	}
	
	.stepArea ul li.active.subStep2:after{
		right: -74px;
	}
}

/*2016-06-18 added by titan end*/

/*  陳拓6/20 */

@media (min-width:769px) {
    body.apply_map input[type=radio].css-checkbox_c + label.css-label_c {
	color: white;
    }
    
    body#body .earth {
        padding: 0;
    }
    
    body.register_2 .wrapper .input_L {
        max-width: 280px;
    }
    
    #body .processInner {
        min-height: 340px;
    }
    
    body.apply_3_step2 .vic {
        width: 828px;
        padding-right: 48px;
        font-size: 15px;
    }
    
    body.apply_3_step2 .baka {
        font-size: 15px;
    }
    
    body.apply_3_step2 .vic h5 {
        font-size: 18px;
    }
    
    .apply_1_step1 .modal-title {
        text-align: center;
    }
    
    .pomodal .modal-content {
        padding-top: 3px;
    }
    
    body.index a[class^="pobtn-"] {
        max-width: 190px;
    }
    
    .processOutBox {
        max-width: 100%;
    }
    
    body.personalInfo_0 .joy p {
        font-size: 15px;
    }
    
    body.personalInfo_0 .who:before {
        top: -17px;
    }
    
    .personalinfo_0 .dan h2 {
        margin-bottom: 10px;
    }
    
    body.deferment_1 .wrapper .input_m {
        max-width: 330px;
    }
    
    body.deferment_1 .processInner {
        padding: 30px 0;
    }
    
    body.deferment_1 div#selectDate {
        padding-left: 110px;
    }
    
    body#body.deferment_1 .nextBtn {
        width: 20%;
        margin: 0;
        margin-left: 6px;
    }
    
    body#body.deferment_1 .nextBtn a.blu {
        width: 100%;
    }
    
    body#body.deferment_1 .nextBtn,
    body#body.deferment_1 a.grey {
        display: inline-block;
    }
    
    body#body.deferment_1 a.grey {
        width: 20%;
        text-align: center;
        vertical-align: top;
        padding: 10px;
        background: #aaaaa9;
        color: #fff;
        position: relative;
    }
    
    body.deferment .hi  {
        display: none;
    }
    
     body.deferment_1 .defermentBtns {
        width: 73%;
        margin: 0 auto;
        text-align: right;
        margin-top: 20px;
        display: block;
        visibility: inherit;
        
    }
    
    body.deferment_1 a.grey {
        visibility: inherit;
    }
    
    .processInner table.mqua tbody td {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .deferment_2 .processInner .xica img {
        width: 70%;
    }
    
    body.deferment_2 .xica {
        margin-top: 15px;
    }
    
    body.deferment_2 .processInner table.mqua {
        margin-top: 0;
    }
    
    .processInner table.mqua .file-en:before {
        display: none;
    }
    
    .processInner,.processTab ul {
        max-width: 100%;
    }
    
    .path_home a {
        text-decoration: underline;
    }
    
    .processTab > div.processBox,
    .path ul,
    .navArea ul {
        max-width: 100%;
    }
    
    .nextBtn {
        max-width: 100%;
    }
    
    #deferralTip p {
        padding-left: 180px;
    }
    
    body.deferment_2 .processInner {
        padding: 15px 10%;
    }
    
    body.deferment_2 .modal-body ul li:first-child {
        text-indent: 0;
    }
    
    body.deferment_2 div.modal-body ul {
        padding-left: 0;
    }
    
    body.deferment_2 .modal-body {
        text-align: left;
    }
    
    #body .processBox {
        padding-left: 0;
    }
    
    body.deferment_3_step1 .snopy .editBtnBoxbottom {
        top: 46px;
    }
    
    body.deferment_3_Step1 .swata .left {
        text-align: left;
        width: 150px;
        padding-right: 0;
    }
    
    body.deferment_3_step1 .ubt {
        position: relative;
    }
    
    body.deferment_3_step1 .processInner {
        padding: 20px 5%;
    }
    
    body.deferment_3_step1 .snopy {
        margin-bottom: 0;
    }
    
    body.memberLogin_1 .loginbox a:last-child {
        display: none;
    }
    
    body.myloan ul.busus li:nth-child(2) {
        padding-left: 5%;
    }
}

@media (max-width:769px) {
    body.index a#loginBtn {
        max-width: 150px;
        padding: 8px;
        font-size: 15px;
    }
    body.forgetPassword_3_step1 .joy {
        background: #FFF;
    }
    
    body.forgetPassword_3_step1 .may .joy {
        padding: 0 15px;
    }
    
    body.forgetPassword_3_step1 #userAccount {
        border-bottom: 1px solid #eee;
        padding-top: 0;
        font-size: 14px;
        padding-bottom: 10px;
    }
    
    .forgetPassword_3_step1 .joy .left p {
        padding-top: 10px;
    }
    
    .forgetPassword .processInner {
        padding: 25px 3%;
    }
    
    .forgetPassword_3_step1 .joy .left p {
        font-size: 14px;
    }
    
    .forgetPassword .may {
        margin-left: 0;
    }
    
    .changePwd_2_step1 .joy p {
        font-size: 14px;
    }
    
    body.changePwd_2_step1 .processInner {
        padding: 25px 3%;
    }
    
    body.changePwd_2_step1 #userAccount {
        border-bottom: 1px solid #eee;
        padding-top: 0;
        font-size: 14px;
        padding-bottom: 10px;
    }
    
    .changePwd_2_step1 .joy .right {
        width: 100%;
    }
    
    body.changepwd_2_step1 .may .joy {
        padding: 0 15px;
    }
    
    .changePwd_1 .joy p {
        font-size: 14px;
    }
    
    .casom li {
        font-size: 12px;
    }
    
    .casomTitle {
        font-size: 14px;
    }
    
    .myloan .contentArea {
        padding-bottom: 10px;
    }
    
    .contentArea {
        padding-top: 90px;
    }
    
    .earth {
        width: 100%;
    }
    
    .ubt:before {
        left: 6px;
    }
    
    .ubt {
        padding: 0 20px;
    }
    
    .editBtn {
        background: none;
    }
    
    .personalinfo_0 .editBtnBoxTop {
        top: 0;
    }
    
    .personalinfo_0 .who:before {
        background-size: 70%;
        background-repeat: no-repeat;
    }
    
    div.notice {
        padding: 0 5px;
    }
    
}