.navArea {
  border-bottom:solid 10px rgba(224,224,255,03);
}



.index input[type="password"] {
    font-family: sans-serif;
}


@media (min-width:769px) {
    body.index a[class^="pobtn-"] {
        max-width: 198px;
    }
    #body.index .personal .inputArea input {
        width: 56%;
    }
}

@media (min-width:769px) {
    body#body .header a {
        display: inline-block;
    }
    
    body.index .navArea {
        margin: 0;
    }
    
    .aplicaTab ul li.active a:before,
    .aplicaTab ul li.active a:after {
        display: none;
    }
    
/*
    body.index #isNotLogin.personal {
        display: block!important;
        z-index: 1;
    }
    
    body.index .bannerArea {
        margin: 0;
        padding: 0;
    }
    
    body.index #mainForm .contentArea {
        position: absolute;
        z-index: 1;
    }
    
    body.index .contentArea .bannerRight {
        z-index: 1;
    }
*/
    
    .navArea {
        border-bottom: none;
    }
    
    div.catey p:nth-child(2) {
        line-height: 1.3em;
    }
    
    #body .tab_arrow {
        top: 3px;
    }
    
    body.apply_2 #mainForm .processInner {
        padding: 10px 5%;
    }
}


@media (max-width:769px) {
    body#body .header a {
        display: inline-block;
    }
}

@media (min-width:769px) {
    body#body .snopy {
        font-size: 16px;
    }
    
    .pen:before {
        width: 17px;
        height: 21px;
        top: 10px;
    }
    
    .pen {
        padding-left: 36px;
    }
    
    .earth li {
        line-height: 1.65em;
    }
}

/*
#body .processTab ul li:last-child a:after {
    display: none!important;
}*/


body.repaymentInquiry_ .detail:before {
    background-repeat: no-repeat;
    left: 0;
}

/* IE 步驟列灰色小圖 */
@media (min-width:769px) {
    body.processBar_3#body .processTab ul li:last-child a::after, body.processBar_4#body .processTab ul li:last-child a::after, body.processBar_5#body .processTab ul li:last-child a::after, body.processBar_6#body .processTab ul li:last-child a::after {
        right: -0.5%;
    }
    
    body#body.processBar_4 .processTab ul li:last-child.active a:after {
        right: -2%;
    }

}

/*---------------------------ie9--------------------------------*/

body.personalinfo_0 .editBtnBoxTop {
    right: 0\9\0;
}

.path ul li a:after {
    top: 7px\9\0;
}

body.personalinfo_1 .sandy {
    width: 200px\9\0;
    padding-right: 0\9\0;
    padding-top: 10px\9\0;
}

body.personalinfo_1 .twoDiv {
    width: 280px\9\0;
    padding-right:0\9\0;
}
body.personalinfo_1 .nina .left_name {
    width: 50px\9\0;
}
body.personalinfo_1 .nina .right_name {
    width: 225px\9\0;
}
body.personalinfo_1 .joy p {
    font-size: 15px\9\0;
}

body.personalinfo_1 #birth_tmp_1 {
    width: 225px\9\0;
}