<?xml version="1.0" encoding="UTF-8"?> 
<configuration status="OFF"> 

	<Properties>
	<Property name="log-path">D:/student/logs/</Property>
	</Properties>


  <appenders> 
    <Console name="Console" target="SYSTEM_OUT"> 
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> 
    </Console> 
	
	
	<RollingFile name="RollingFile" fileName="${log-path}/application.log"    
                 filePattern="${log-path}/application-%d{yyyy-MM-dd}.log">    
      <PatternLayout pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %class{36} %level{WARN=W, DEBUG=D, ERROR=E, TRACE=T, INFO=I,TRANSACTION=DB,CONNECTION=C} - %msg%xEx%n"/>    
     <Policies>

		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>

		</Policies>

    </RollingFile>   
	
  </appenders> 
  <loggers> 
    <root level="trace"> 
      <appender-ref ref="Console"/> 
	  <appender-ref ref="RollingFile"/> 
    </root> 
  </loggers> 
</configuration> 