.table-frame  { border:1px solid #000000; border-collapse:collapse; }
.cap          { background-color:#FFFFFF; color:#000000; }
.main-title   { font-family:"細明體"; font-size:16px; text-decoration:none; font-weight:bold; }

.text-6       { font-family:"細明體"; font-size:6px;  text-decoration:none; letter-spacing:0.5px; word-spacing:0.5px; }
.text-8       { font-family:"細明體"; font-size:8px;  text-decoration:none; letter-spacing:0.5px; word-spacing:0.5px; }
.text-10      { font-family:"細明體"; font-size:10px; text-decoration:none; letter-spacing:0.5px; word-spacing:0.5px; }
.text-12      { font-family:"細明體"; font-size:12px; text-decoration:none; letter-spacing:0.5px; word-spacing:0.5px; }
.text-14      { font-family:"細明體"; font-size:14px; text-decoration:none; letter-spacing:0.5px; word-spacing:0.5px; }
.text-16      { font-family:"細明體"; font-size:16px; text-decoration:none; letter-spacing:0.5px; word-spacing:0.5px; }
.text-18      { font-family:"細明體"; font-size:18px; text-decoration:none; letter-spacing:1px;   word-spacing:1px;   }
.text-20      { font-family:"細明體"; font-size:20px; text-decoration:none; letter-spacing:1px;   word-spacing:1px;   }
.text-22      { font-family:"細明體"; font-size:22px; text-decoration:none; letter-spacing:1px;   word-spacing:1px;   }
.text-24      { font-family:"細明體"; font-size:24px; text-decoration:none; letter-spacing:1px;   word-spacing:1px;   }
.text-26      { font-family:"細明體"; font-size:26px; text-decoration:none; letter-spacing:1px;   word-spacing:1px;   }
.text-28      { font-family:"細明體"; font-size:28px; text-decoration:none; letter-spacing:1px;   word-spacing:1px;   }

.lh-16        { line-height:16px; }
.lh-20        { line-height:20px; }

.data-text    { color:#0000CC; }
.box          { border:1px solid #000000; }
TD            { font-family:"細明體"; font-size:10px; text-decoration:none; letter-spacing:0.5px; word-spacing:0.5px; }